body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
}
iframe{
	width: 100%;
	height: 380px;
}
.lista{
	list-style: none;
	color: white;
	padding: 3%;

}
.linea{
	border-bottom: solid 1px white;
	margin-top: 3%;
}
.fondo-taxi{
	margin-top: -18px;
	background-image: url('../img/taxi1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	width: 100%;
	height: 600px;
}
.seccion-registrate {
	margin-top: 8%;
	background:#e8b706;
	width: 100%:
	height:100px;
	padding: 3%;
}
.texto-blanco{
	color: white;
}
.texto-1{
	/*font-size: 20px;*/
	color: white;
	font-weight: bolder;
}
.texto-2{
	font-weight: bold;
}
.texto-3{
	position: relative;
	display: block;
	width: 50%;
	color: white;
	background: #e8b706;
	text-align: center;
	margin-left: 26%;
	margin-top: -10px;
}
.logo-blanco{
	width: 25%;
	height: 35%;
	padding: 2%;
}
/*fin paarte 1*/

/*parte 2*/
.fondo-amarillo{
	background: #e8b706;
	height: 500px;
}
.seccion-3{
	border:solid 1px white;
	margin-left: -25px;
	margin-top: 5%;
	margin-bottom: 5%;
	width:100%;
	height: 400px;
}
.seccion-descripcion{
	margin-top: 5%;
}
.texto-descripcion{
	margin-top: 3%;
	font-family: arial;
	font-size:18px;
	color: white;
	text-align: justify;
}
.imagen-telefono{
	text-align: center;
	padding: 5%;
}
.imagen-telefono > img{
	height: 300px;	
}
/*fin parte 2*/

/*parte 3}*/
.fondo-3{
	background-image: url("../img/conduce.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	height: 400px;
}
.cuadro-3{
	margin: 0;
	background: #000;	
	opacity: .8;
	width: 100%;
	height: auto;
}
.texto-conduce{
	padding: 10%;
	color: white;
}
/*fin parte 3*/

/*parte 4*/
.formulario-ruta{
	padding-left: 10%;
	padding-top: 6%;
}
.ruta{
	background-color: transparent;
}
.btn-ruta{
	left: 5%;
}
.mapa{
	margin-top:5%;
	border: solid white 2px;
	width: 70%;
	height: 400px;
	padding:10px; 
}

/*fin parte 4*/

/*footer*/
footer{
	background: #262625;
}
.imagen-logoB{
	margin-top: 10%;
	padding-left: 20%;
}
.contenedor{
	border-bottom: solid 1px white; 
	border-top: solid 1px white;
	height: 300px;
	/*margin-bottom: 5%;*/
}
.img-redes{
	margin-top: 100%;
}
.img-app{
	margin-top: 15%;
}
.texto-footer{
	color: white;
	margin-left: 7%;
	padding: 2%;
}
/*fin footer*/
